.profile__vector {
    margin: 0;
    padding: 0;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    background-color: black;
    background-image: url(../../../image/ruchka.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 422px;
    top: 37px;
}