.profile__vector {
  cursor: pointer;
  border: 1px solid #ffffff;
  width: 24px;
  height: 24px;
  margin: 37px 0 59px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../image/ruchka.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.profile__vector:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__vector {
    position: absolute;
    right: 38px;
    bottom: 527px;
    width: 18px;
    height: 18px;
  }
}
