.popup-card__close {
  margin: 0;
  padding: 0;
  width: 32px;
  background-size: cover;
  height: 32px;
  position: absolute;
  background-image: url(../../../image/Close-button.svg);
  border: none;
  right: -37px;
  top: -43px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .popup-card__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
