.popup__input {
  border: none;
  padding: 0;
  max-width: 358px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width:900px) {
  .popup__input {
      max-width: 238px;
      margin: 0 0 13px;

     
  }
}

.popup__input:first-child {
     
  margin: 0 0 34px;

 
}


@media screen and (max-width:900px) {
  .popup__input:first-child {
     
      margin: 0 0 33px;

     
  }
}