.popup__input {
  border: none;
  padding: 0;
  width: 358px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 35px;
  background-color: #fff;
}
@media screen and (max-width: 900px) {
  .popup__input {
    width: 238px;
    margin: 0 0 13px;
  }
}

.popup__input:focus-visible {
background-color: #fff;
  outline: -webkit-focus-ring-color auto 0px;
}

.popup__input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none;
  background-color: #fff;
  color: fieldtext;
}




@media screen and (max-width: 900px) {
  .popup__input:first-child {
    margin: 0 0 33px;
  }
}
