.profile {
    max-width: 880px;
    margin: 0 auto 51px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media screen and (max-width:900px) {
    .profile {
        display: flex;
        flex-direction: column;
        max-width: 282px;
        margin: 0 auto 51px;
        text-align: center;
    }
}