.elements__card {
  max-width: 282px;
  background: #ffffff;
  border-radius: 10px;
}

.popup-img{
 width: 260px;
 height: 260px;

  object-fit: contain;
}

.popup-img__big{
  width: 75vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 100px;
  top: 200px;
}

.close-popup-img{
  font-size: 36px;
  color: red;
  position: absolute;
  top: 300px;
  right: 0;
}

.hidden{
  display: none;
}