.popup-black {
    background: rgb(0, 0, 0, 0.9);
}
.popup-img__container {
    position: relative;
    background: #fff;
    max-width: 430px;
    width: 100%;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    border-radius: 10px;
}
.popup-img__container_pictures {
    max-width: none;
    background: transparent;
    width: auto;
    padding: 0;
}
.popup-img__pictures {
    max-width: 75vw;
    max-height: 75vh;
    display: block;
}
.popup-img__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 0 0;
    color: #fff;
}

.popup-img{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease-in, opacity 0.5s ease-in;
}

.popup__open{
    display: flex;
    background: rgb(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
    transition: visibility .5s ease-in, opacity .5s ease-in;
}