.elements {
    margin: 0 auto 67px;
    display: grid;
    max-width: 880px;
    row-gap: 20px;
    column-gap: 17px;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
}