.profile__add-card-button {
  cursor: pointer;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  width: 150px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-image: url(../../../image/krest.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.profile__add-card-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__add-card-button {
    width: 282px;
    margin: 33px auto 0;
    background-image: url(../../../image/mobile\ krest.svg);
  }
}
