.popup__close-button {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(../../../image/Close\ Icon.png);
    border: none;
    right: -32px;
    top: -32px;
    background-color: black;
}