.elements__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 15px 27px 21px;
}
@media screen and (max-width: 900px) {
  .elements__container {
   padding-bottom: 3px;
    margin: 16px 16px 24px 21px;
  }
}