.profile__rectangle {
    height: 50px;
    background-color: black;
    width: 150px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url(../../../image/крест.png);
    background-repeat: no-repeat;
    background-position: center;
   
}
.profile__rectangle:hover {
    opacity: 0.6;
}

@media screen and (max-width:900px) {
    .profile__rectangle {
        width: 282px;
        margin: 36px auto 0;
    }
}